<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Boligstjernen</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<div class="regulartext">
<body>
    <div class="graybar">
        <img class="topmenustjerne" src="/img/icon/stjerne.png" alt="">
        <p class="topmenutext">Boligstjernen</p>
    </div>
    <header>
        <nav class="main_menu">
            <ul>
                    <li><a href="/">Forside</a></li>
                    <li><a href="/products">Find bolig</a></li>
                    <li><a href="/nyheder">Nyheder</a></li>
                    <li><a href="/kontakt">Kontakt</a></li>
            
    </ul>
    </nav>
    </header>
    <br>
    <br>
