<% include ./partials/admin_header %>
        <section class="admin_content">
                <form method="POST" enctype="multipart/form-data" class="admin_form_create_update">
                    <legend>Rediger Nyhed:</legend>
                    <label for="overskrift">Overskrift: </label>
                    <input type="text" name="overskrift" id="overskrift" value="<%= results.overskrift %>" required>
                </fieldset>
                <fieldset>
                    <label for="dato">Dato: </label>
                    <input type="date" name="dato" id="dato" value="<%= results.dato %>" required>
                </fieldset>
                <fieldset>
                    <label for="tekst">Tekst: </label>
                    <input type="text" name="tekst" id="tekst" value="<%= results.tekst %>" required>
                </fieldset>
                <button type="submit">Rediger</button>
                <small class="error_message"><%= (typeof errorMessage != 'undefined') ? errorMessage : '' %></small>
                </form>
                <p class="error_message"></p>
        </section>

<% include ./partials/admin_footer %>