<% include ./parts/admin_header %>
        <section class="admin_content">
            <form action="/admin/brugere/slet/<%= result.id %>" class="admin_delete_single_page_form">
                <legend>Er du sikker på at du vil slette <span class="admin_delete_row_check_name">[ <%= result.username %> ]</span> ?</legend>
    
                <a href="/admin/brugere">Nej</a> 
                <button type="submit">Ja</button>
            </form>
        </section>

            <script>
                //Getting the full url
                const url = new URL(window.location);
    
                //Replaces the url's pathname with nothing, so I can get the id
                const urlString = url.pathname.replace('/admin/brugere/slet-tjek/', '');
    
                const form = document.querySelector('form');
                form.addEventListener('submit', function (event) {
                    event.preventDefault();
    
                    fetch(`/admin/brugere/slet/${urlString}`, {
                        method: 'DELETE'
                    }).then(response => {
                            if (response.status === 204) {
                                return response.json();
                            }
                        }).then(data => {
                            location.assign('/admin/brugere');
                        });
                });
            </script>


<% include ./parts/admin_footer %>