<% include ./partials/header %>
    <div style="color:red; font-size:30px; margin: 10% 0; text-align:center; font-family: 'Arial Black', Arial, Helvetica, sans-serif;">
        DER SKETE EN FEJL!!!!!!!!!!!!!!!!!!!!!!!!!!!!
    </div>
<% include ./partials/footer %>