<% include ./partials/header %>
    <section id="products-section" class="wrapper">
        <% results.forEach(results => { %>
            <h2><%= results.overskrift %></h2>
            <p><%= results.tekst %></p>
            <p><%= results.dato %></p>
        <% }); %>
    </section>

<% include ./partials/sidemenu %>
<% include ./partials/footer %>