<% include ./partials/header %>

    <form method="POST" enctype="multipart/form-data">
        <fieldset>
            <label for="avatar">Upload Fil:</label><br>
            <input type="file" name="avatar" id="avatar">
        </fieldset>
        <button type="submit">Upload</button>
    </form>

<% include ./partials/footer %>